.main h1 {
	position: relative;
	font-size: 35px;
	bottom: 0.4em;
}


.main h2{
	position: relative;
	font-size: 32px;
	top: 2.4em;
	text-decoration: underline;
	text-align: center;
}
#hline1 {
	border: 0.8em solid black;
	position: relative;
	bottom: 7.3em;
}


.descriptions h3{
	color: maroon;
}
#header {
	min-height: 80px;
	width: 100%;
	font-family: 'Nunito', sans-serif;
	background-color: orange;
	overflow: hidden;

}

#ratings {
	position: relative;
	left: 32em;
	top: em;
	max-width: 1em;
}


.topnav{
	background-color: blue;
	width: 100%;
	min-height: 42px;
	
}

.topnav a{
	background-color: yellow;
	/* color: white; */
	text-decoration: none;
	/* display: inline-block; */
	/* margin: 10px;
	padding: 10px 40px; */
}

.topnav ul{	
	/* background-color: yellow; */
	list-style-type: none;
	color: grey;
	font-size: 20px;
	padding-top: 10px;	
}

.topnav li{
	display:inline;
	margin: 15px;
	padding: 10px;
	/* background-color: brown; */
}

.topnav li:hover{
	color: blueviolet;
	cursor: pointer;
}
#title{
	margin-top: 30px;
	background-color: beige;
}

.descriptions p{
	font-size: 12px;
	position: relative;
	text-align: left;
	top: 1em;
	left: 39em;
	width: 40em;
}
.mov{
	clear:left;
	margin: 25px;
<<<<<<< HEAD
	background-color: aqua;	
	overflow: auto;
=======
	background-color: aqua;
>>>>>>> parent of 6c3676e... Extra stuff
}

#one, #two {
	border: dashed 2px black;
	position: relative;
	height: 35em;
	width: 23em;
	left: 14em;
}

<<<<<<< HEAD
#rating-one{
	position: relative;
	left: 20em;
	width: 21em;
	bottom: 22em;
}
=======
.mov button{
	float:left;
	clear:left;
}

.mov img{
	width: 150px;
	height: 200px;
	float:left;
	background-color: brown;
	
}
.mov p{
	float:right;
	padding-left: 20px;

}
>>>>>>> parent of 6c3676e... Extra stuff
