.main h1 {
	position: relative;
	font-size: 35px;
	bottom: 0.4em;
}


.main h2{
	position: relative;
	font-size: 32px;
	top: 2.4em;
	text-decoration: underline;
	text-align: center;
}
#hline1 {
	border: 0.7em solid black;
	position: relative;
	bottom: 18.4em;
}


.descriptions h3{
	color: maroon;
}
#header {
	min-height: 80px;
	width: 100%;
	font-family: 'Nunito', sans-serif;
	background-color: orange;
	overflow: hidden;

}

#ratings {
	position: relative;
	left: 32em;
	bottom: 2em;
	max-width: 1em;
}
/* Add a black background color to the top navigationa bar */



.topnav{
	background-color: blue;
	width: 100%;
	min-height: 42px;
	
}

.topnav a{
	background-color: yellow;
	/* color: white; */
	text-decoration: none;
	/* display: inline-block; */
	/* margin: 10px;
	padding: 10px 40px; */
}

.topnav ul{	
	/* background-color: yellow; */
	list-style-type: none;
	color: grey;
	font-size: 20px;
	padding-top: 10px;	
}

.topnav li{
	display:inline;
	margin: 15px;
	padding: 10px;
	/* background-color: brown; */
}

.topnav li:hover{
	color: blueviolet;
	cursor: pointer;
}
#title{
	margin-top: 30px;
	background-color: beige;
}

.descriptions p{
	font-size: 12px;
	position: relative;
	text-align: left;
	top: 1em;
	left: 39em;
	width: 40em;
}
.mov{
	clear:left;
	margin: 25px;
	background-color: aqua;	
	overflow: auto;
}